
/* Contenedor Principal */
.contLogin{
    width: 350px;
    display: grid;
    margin: 10px auto;
    grid-template:
    "panelPrimario panelPrimario" auto
    "panelSecundario panelSecundario" auto;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgb(0, 0, 0, 0.3);
}
/* Contenedor Login */
.panelPrimario{
    min-width: 350px;
    grid-area: panelPrimario;
    display: grid;
    grid-template: 
    ". tituloLogin ." auto
    "formLogin formLogin formLogin" auto
    "footerLogin footerLogin footerLogin" auto;
    margin-top: 50px;
    
}
.formLogin{
    grid-area: formLogin;
    margin: 0px auto;
    
}
.tituloLogin{
    grid-area: tituloLogin;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.footerLogin{
    grid-area: footerLogin;
    margin: 0 auto;
    padding: 10px;
}
/* Propiedades Login */
.form-login{
    margin: 0px auto;
    width: 250px;
    outline: none;
    background: transparent;
    font-size: 20px;

}


.formLogin .aux{
    padding: 20px 0;
}
.iconInput{
    position: absolute;
    color: #18455B;
}
.btnAceptarLogin{
    display: flex;
    margin: 30px auto;
    outline: none;
    background:#18455B;
    border: 0;
    padding: 10px 40px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.textFooter-Login{
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    outline: none;
    color: #FF8D00;
    font-size: 14px;
}

/* Contenedor Secundario */
.panelSecundario{
    grid-area: panelSecundario;
    background:#18455B;
}

.descripcionSecundario p{
    color: #FFF;
    text-align: center;
    width: 200px;
    margin: 30px auto;
    font-size: 18px;
}
.redes{
    display: flex;
    justify-content: center;
}
.redes i{
    color: #fff;
    font-size: 32px;
    margin: 20px 10px 100px 10px;

}

/*Errores*/
.help-block{
    display: block;
    color: red;
    font-size: 12px;
}

/*Registro*/
.etiquetas{
    display: block;
    width: 250px;
    font-size: 16px;
    color: #18455B;
}
.panelSecundario .logomerca{
    display: flex;
    justify-content: center;
    margin-top: 80px;
  
}
.panelSecundario .logomerca img{
    width: 400px;
    vertical-align:middle;
}
.panelSecundario .logocanaco img{
    width: 200px;
    vertical-align:middle;
}
.panelSecundario .logocanaco{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
@media (min-width: 800px) {
    .contLogin{
        width: 800px;
        grid-template:
        "panelPrimario  panelSecundario" auto
    }
    .panelSecundario{
        min-width: 450px;

    }

    .descripcionSecundario p{
        width: 350px;
        margin: 0px auto;
        font-size: 24px;
    }
  }